.place__like {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/profile__like.svg);
    background-color: white;
}

.place__like:hover {
    opacity: 0.6;
}

.place__like:active {
    background-image: url(../../../images/profile__like_active.svg);
}